Package: com.shade.nonotch
Name: noNotch
Version: 1.3.0
Architecture: iphoneos-arm
Description: Hides the notch on iPhone X. Issues are present. Source code: https://github.com/jakeajames/noNotch
Pre-Depends: firmware(>=11.0), mobilesubstrate, com.rpetrich.rocketbootstrap (>= 1.0.6)
Maintainer: Conner Owen
Author: Conner Owen
Section: Tweaks
